::selection {
	background-color: #2b48ee;
	color: #fff;
}
body {
  	margin: 0;
  	line-height: normal;
    width: 100%;
  	position: relative;
  	background-color: #fff;
  	overflow-y: auto;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	min-height: 1080px;
  	text-align: left;
  	font-size: 24px;
  	color: #000;
  	font-family: 'Inter', sans-serif;
}
.header {
	position: fixed; 
    top: 0; 
    left: 0;
    right: 0; 
    z-index: 1000; 
  	align-self: stretch;
  	background-color: #2b48ee;
  	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	padding: 24px 64px;
  	gap: 24px;
  	text-align: center;
  	color: #fff;
}
.header .title {
  	width: 250px;
  	position: relative;
  	letter-spacing: -0.48px;
  	line-height: 95%;
	font-size: 32px;
  	font-weight: 900;
	text-decoration: none;
	color: #fff;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	flex-shrink: 0;
    cursor: pointer;
	transition: transform 0.3s; 
}
.header .title:hover {
    transform: scale(1.05); 
    z-index: 10; 
}
.nav {
  	display: flex;
  	align-items: center;
  	gap: 50px;
	font-size: 24px;
	font-weight: 700;
}
.nav-link::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	border-radius: 5px;
	bottom: -5px;
	left: 0;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	transition: 0.6s ease;
}
.nav-link:hover::before {
	visibility: visible;
	transform: scaleX(1);
}
.nav-link {
  	position: relative;
  	line-height: 145%;
  	text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
	color: #fff;
}
.nav-button {
	color: #2b48ee;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	padding: 5px 10px;
	background: #fff;
	border-radius: 14px;
	border: 3px solid transparent;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.nav-button:hover {
	color: #fff;
	background: transparent;
	border: 3px solid #fff;
}
.home {
  	align-self: stretch;
	padding-top: 80px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	text-align: center;
  	font-size: 128px;
}
.home-content {
  	height: 720px;
  	flex: 0.8;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 120px 64px;
  	box-sizing: border-box;
  	gap: 32px;
}
.home-content .text {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 24px;
}
.home-content .text .title {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.02em;
  	line-height: 110%;
	font-weight: 900;
}
.home-content .text .subtitle {
  	align-self: stretch;
  	position: relative;
  	font-size: 24px;
	font-weight: 700;
  	line-height: 145%;
  	color: #2b48ee;
}
.home-content .buttons {
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
}
.home-content .buttons .social-links {
  	display: flex;
  	align-items: center;
  	gap: 24px;
}
.home-content .buttons .social-links .social-link {
  	font-size: 28px;
  	position: relative;
	cursor: pointer;
	transition: transform 0.3s;
	text-decoration: none;
	color: #000;
}
.home-content .buttons .social-links .social-link:hover {
  	color: #2b48ee;
	transform: scale(1.05);
	z-index: 10;
}
.home .slider {
  	height: 720px;
  	flex: 1;
  	position: relative;
  	max-width: 100%;
  	overflow: hidden;
  	object-fit: cover;
}
.home .slider .slide {
	z-index: 1;
	position: absolute;
	width: 100%;
	clip-path: polygon(0% 0%, 0 0, 0 50%, 0 100%, 0% 100%);
}
.home .slider .slide.active {
	clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0 100%);
	transition: 1s;
	transition-property: clip-path;
}
.home .slider .slide img {
	z-index: 1;
	width: 100%;
    height: 720px;
}
.home .slider .slide .info h2 {
	color: #FFFFFF;
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
}
.home .slider .slide .info {
	position: absolute;
	top: 0;
	padding: 15px 30px;
}
.home .slider .navigation {
	z-index : 2;
	position: absolute;
	display: flex;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);
}
.home .slider .navigation .btn {
	background: rgba(255, 255, 255, 0.5);
	width: 16px;
	height: 16px;
	margin: 10px;
	border-radius: 50%;
	cursor: pointer;
	transition: transform 0.3s;
}
.home .slider .navigation .btn:hover, .home .slider .navigation .btn.active:hover {
	background: #2b48ee;
	transform: scale(1.05);
	z-index: 10;
}
.home .slider .navigation .btn.active {
	background: #fff;
}
.section {
  	align-self: stretch;
	scroll-margin-top: 80px;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 45px 64px;
  	gap: 24px;
}
.headline {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
}
.section-title {
  	align-self: stretch;
  	position: relative;
  	letter-spacing: -0.32px;
  	line-height: 120%;
	font-size: 32px;
	font-weight: 700;
}
.section-content {
	align-self: stretch; 
	overflow: hidden; 
	justify-content: center; 
	align-items: center; 
	gap: 32px; 
	display: inline-flex;
}
.section-content img {
	width: 362.70px; 
	height: 362.70px; 
	background-color: #2b48ee;
	border-radius: 9999px;
}
.section-paragraph {
	width: 749px; 
	padding-top: 20px; 
	padding-bottom: 20px; 
	overflow: hidden; 
	flex-direction: column; 
	justify-content: flex-start; 
	align-items: flex-start; 
	gap: 20px; 
	display: inline-flex;
}
.section-text {
  	align-self: stretch; 
	justify-content: center; 
	display: flex; 
	flex-direction: column; 
	color: rgba(0, 0, 0, 0.75); 
	font-size: 18px; 
	font-weight: 600; 
	line-height: 29px; 
	word-wrap: break-word;
}
.section-paragraph .button-cv {
	margin-top: 20px;
	width: 300px; 
	height: 64px; 
	position: relative; 
	color: #FFFFFF;
	background: #2b48ee;
	border-radius: 18px;
	border: 4px solid transparent;
	transition: all 0.3s ease-in-out; 
	overflow: hidden; 
	cursor: pointer;
}
.section-paragraph .button-cv:hover {
	color: #2b48ee;
	background: transparent;
	border: 4px solid #2b48ee;
}
.section-paragraph .button-cv p { 
	width: 100%;
	text-align: center;
	position: absolute; 
	justify-content: center;
	font-size: 20px;  
	font-weight: 700; 
	word-wrap: break-word
}
.container.swiper {
    position: relative; 
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 64px; 
}
.slider-wrapper {
	overflow: hidden;
}
.cards-projects-a {
	max-width: 1152px;
}
.cards-projects-p {
  	width: 1152px;
  	display: flex;
  	align-items: flex-start;
  	justify-content: center;
  	gap: 32px;
  	font-size: 24px;
}
.cards-projects-mobile {
  	width: 1152px;
  	display: none;
}
.section-cards-projects-mob {
	display: flex;
	flex-direction: row;
	gap: 32px;
}
.card-project-ac {
  	width: 362.7px;
  	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 6px 12px rgba(0, 0, 0, 0.03);
  	border-radius: 16px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	box-sizing: border-box;
  	overflow:hidden;
  	flex-shrink: 0;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.card-project-ps {
  	flex: 1;
  	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 6px 12px rgba(0, 0, 0, 0.03);
  	border-radius: 16px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.card-project-mob {
  	flex: 1;
  	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 6px 12px rgba(0, 0, 0, 0.03);
  	border-radius: 16px;
  	background-color: #fff;
  	border: 1px solid rgba(0, 0, 0, 0.1);
  	overflow: hidden;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}
.card-project-mob.hidden {
    display: none;
}
.voir-plus-btn, .voir-moins-btn {
	display: none;
    color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	padding: 13px 24px;
	background: #2b48ee;
	border-radius: 18px;
	border: 4px solid transparent;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	margin-top: -32px;
}
.voir-plus-btn:hover, .voir-moins-btn:hover {
	color: #2b48ee;
	background: transparent;
	border: 4px solid #2b48ee;
}
.voir-moins-btn {
	display: none;
	margin-top: 32px;
}
.card-image {
  	align-self: stretch;
  	height: 240px;
  	position: relative;
  	width: 100%;
  	overflow: hidden;
  	flex-shrink: 0;
  	object-fit: cover;
}
.card-description {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 24px;
  	gap: 32px;
}
.card-description .text {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	gap: 8px;
}
.name-project {
    align-self: stretch;
  	position: relative;
  	letter-spacing: -0.32px;
  	line-height: 145%;
	font-size: 20px;
	font-weight: 700;
}
.des-project {
  	align-self: stretch;
  	position: relative;
  	font-size: 18px;
  	line-height: 140%;
  	font-weight: 600;
  	color: rgba(0, 0, 0, 0.75);
}
.card-description .button {
  	align-self: stretch;
  	position: relative;
  	font-size: 20px;
  	line-height: 145%;
  	white-space: pre-wrap;
	border-radius: 6px;
	font-weight: 700;
	width: 50%;
	cursor: pointer;
	text-align: left;
	background: transparent;
	border: none;
	transition: transform 0.3s;
}
.card-description .button:hover {
	color: #2b48ee;
	transform: scale(1.025);
	z-index: 10;
}
.swiper-slide-button {
	position: absolute;
	z-index: 10;
	transition: transform 0.3s;
}
.swiper-slide-button::after {
	color: #000;
	font-weight: bold;
}
.swiper-slide-button:hover::after {
	color: #2b48ee;
	transform: scale(1.05);
	z-index: 10;
}
.form__inner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.form__line {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.form__block {
	width: 544px;
	margin: 0 32px;
}
.form__label {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 5px;
}
.form__input {
	height: 50px;
	width: 100%;
	border-radius: 18px;
	outline: 0;
	transition: all 0.3s ease-in-out;
	padding-left: 10px;
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 6px 12px rgba(0, 0, 0, 0.03);
	margin-bottom: 10px;
}
.form__input_message {
	height: 250px;
	width: 100%;
	border-radius: 18px;
	outline: 0;
	transition: all 0.3s ease-in-out;
	padding: 5px 10px;
	font-size: 18px;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02), 0px 6px 12px rgba(0, 0, 0, 0.03);
	margin-bottom: 10px;
}
.form__block_message {
	width: 1152px;
	margin: 0 32px;
}
.btn_submit {
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
	padding: 13px 24px;
	background: #2b48ee;
	border-radius: 18px;
	border: 4px solid transparent;
	transition: all 0.3s ease-in-out;
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 40px;
}
.btn_submit:hover {
	color: #2b48ee;
	background: transparent;
	border: 4px solid #2b48ee;
}
.form .btn {
	margin-top: 20px;
	cursor: pointer;
	margin-bottom: 45px;
}
.btn_submit:disabled {
    background: #5e6dbd;
    cursor: not-allowed;
}
.footer {
  	align-self: stretch;
  	background-color: #2b48ee;
  	overflow: hidden;
  	flex-shrink: 0;
  	display: flex;
  	align-items: center;
  	padding: 0 64px;
  	font-size: 24px;
  	color: #fff;
}
.container {
  	flex: 1;
  	border-top: 1px solid rgba(255, 255, 255, 0.1);
  	box-sizing: border-box;
  	display: flex;
  	align-items: center;
	justify-content: center;
  	padding: 45px 0px;
  	gap: 120px;
  	max-width: 100%;
}
.footer-content {
  	flex: 1;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: 24px;
}
.footer-title {
  	width: 100%;
  	display: flex;
  	align-items: center;
	text-align: center;
}
.footer-title .title {
  	flex: 1;
  	position: relative;
  	letter-spacing: -0.32px;
  	line-height: 145%;
	font-size: 32px;
  	font-weight: 800;
}
.footer-content .subtitle{
  	align-self: stretch;
  	position: relative;
  	font-size: 24px;
  	line-height: 145%;
  	font-weight: 600;
}
.footer-content .social-links {
  	display: flex;
  	align-items: center;
  	gap: 24px;
}
.footer-content .social-links .social-link {
  	font-size: 24px;
	font-weight: 600;
  	position: relative;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
	transition: transform 0.3s; 
}
.footer-content .social-links .social-link:hover {
    transform: scale(1.05); 
    z-index: 10; 
}
.social-links-wrapper {
    position: relative; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0; 
}
.message-copie {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translateX(-50%); 
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 12px;
    opacity: 0; 
    margin-top: 4px; 
    pointer-events: none; 
}
.message-copie:not(:empty) {
    opacity: 1;
}
.footer-content p {
	font-size: 18px;
	font-weight: 700;
}

.header-mob {
    display: none;
    gap: 15px; 
    align-items: center;
	position: relative;
    justify-content: flex-end; 
}

.burger-menu {
    display: flex;
    position: relative;
	justify-content: center;
	align-items: center;
}

.burger-icon {
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.burger-icon span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition: all 0.3s ease;
}
.burger-links {
    position: absolute;
    top: calc(100% + 20px); 
    left: 50%;
	transform: translateX(-50%);
    width: 250px; 
    background-color: #2b48ee;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    list-style: none;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
	border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
	z-index: 1000;
}
.burger-links.active {
    opacity: 1;
    visibility: visible;
}
.burger-links li {
    width: 100%; 
    text-align: center;
    margin: 0;
    padding: 0; 
}
.burger-links .nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
	text-transform: capitalize;
	font-weight: 700;
	text-align: center;
	line-height: 145%;
    display: block; 
	position: relative;
	padding: 10px 0;
}
.burger-links .nav-link::before {
	content: "";
	position: absolute;
	width: 50%;
	height: 3px;
	border-radius: 5px;
	bottom: -2.5px;
	left: 25%;
	background-color: white;
	visibility: hidden;
	transform: scaleX(0);
	transition: 0.6s ease;
}
.burger-links .nav-link:hover::before {
	visibility: visible;
	transform: scaleX(1);
}
.burger-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger-icon.open span:nth-child(2) {
    opacity: 0;
}

.burger-icon.open span:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}


.burger-icon:not(.open) span {
    transform: none;
    opacity: 1;
}

@media (max-width: 1400px) {
    body {
        font-size: 20px;
    }
    .nav {
        display: none;
    }
    .header-mob {
        display: flex;
    }
	.header {
        padding: 20px 32px;
    }
    .header .title {
        font-size: 28px;
    }
    .home .slider {
        display: none;
    }
    .home-content {
        padding: 80px 32px;
    }
    .home-content .text .title {
        font-size: 80px;
    }
    .section {
        padding: 32px;
    }
    .section-content {
        flex-direction: column;
        align-items: center;
    }
    .section-content img {
        width: 300px;
        height: 300px;
    }
    .section-paragraph {
        width: 100%;
		align-items: center;
		text-align: justify;
    }
    .container.swiper {
		display: none;
	}
	.cards-projects-mobile {
		display: flex;
  		justify-content: center;
  		gap: 32px;
  		font-size: 24px;
	}
    .cards-projects-p, .cards-projects-mobile {
        flex-direction: column;
		align-items: center;
    }
    .card-project-mob, .card-project-ps {
        width: 100%;
        max-width: 350px;
    }
	.form__block {
		max-width: 250px;
		margin: 0 16px;
	}
    .form__block_message {
        max-width: 532px;
    }
	.form__input_message {
		max-height: 150px;
	}
    .footer .container {
        flex-direction: column;
        gap: 40px;
    }
	.voir-plus-btn {
		display: flex;
	}
}

@media (max-width: 768px) {
    body {
        font-size: 18px;
		width: 100%;
        overflow-x: hidden;
    }
    .nav {
        display: none;
    }
    .header-mob {
        display: flex;
    }
    .header {
        padding: 16px 24px;
        flex-direction: column;
        gap: 16px;
    }
    .header .title {
        font-size: 24px;
	}
    .home {
        flex-direction: column;
		width: 100%;
        overflow-x: hidden; 
    }
    .home-content {
        padding-top: 80px;
        width: 100%;
        overflow-x: hidden; 
    }
    .home-content .text .title {
        font-size: 32px; 
    }
	.home-content .text .subtitle {
        font-size: 18px;
    }
    .home .slider {
        display: none;
    }
    .section {
		padding-top: 40px;
    }
    .section-content img {
        width: 250px;
        height: 250px;
    }
    .section-paragraph .button-cv {
        width: 100%;
        max-width: 300px;
    }
	.container.swiper {
		display: none;
	}
	.section-cards-projects-mob {
		display: flex;
		flex-direction: column;
	}	
	.cards-projects-mobile {
		display: flex;
		align-items: center;
  		justify-content: center;
  		gap: 32px;
  		font-size: 24px;
	}
    .cards-projects-p, .cards-projects-mobile {
        flex-direction: column;
		justify-content: center;
    }
    .card-project-mob, .card-project-ps {
        width: 100%;
        max-width: 350px;
    }
    .form__inner {
        flex-direction: column;
    }
    .form__line {
        flex-direction: column;
    }
    .form__block, .form__block_message {
        width: 100%;
        max-width: 350px;
        margin: 0;
    }
    .footer {
        flex-direction: column;
        text-align: center;
    }
    .footer .container {
        flex-direction: column;
        gap: 32px;
    }
    .footer-content .social-links {
        justify-content: center;
    }
}

img {
    max-width: 100%;
    height: auto;
}
